# Local configuration for meta-zynq7 images
# Only tested with zc706-zynq7 dev boards
# Yocto Project 3.4 Poky distribution [honister] branch
# This is a systemd system

LICENSE_FLAGS_WHITELIST += "xilinx"

DISTRO_FEATURES = "ext2 security systemd usbhost ${DISTRO_FEATURES_LIBC}"

DISTRO_FEATURES_BACKFILL_CONSIDERED += "pulseaudio sysvinit"

DISTRO_FEATURES:remove = "ptest"

INIT_MANAGER = "systemd"

MACHINE = "zc706-zynq7"

PREFERRED_PROVIDER_virtual/kernel = "linux-stable"

# DL_DIR = "/src/honister"
# SSTATE_DIR = "/oe5/zynq7/sstate-cache"
# TMPDIR = "/oe5/zynq7/tmp-honister"

DISTRO = "poky"
PACKAGE_CLASSES = "package_ipk"

SDKMACHINE = "x86_64"

EXTRA_IMAGE_FEATURES = "debug-tweaks"

USER_CLASSES = "image-prelink"
PATCHRESOLVE = "noop"
RM_OLD_IMAGE = "1"
INHERIT += "rm_work"
CONF_VERSION = "2"
